@-webkit-keyframes aside {
  from {
    background-position: 0 0, 100px 100px; }
  to {
    background-position: 200px 0, 300px 100px; } }

@keyframes aside {
  from {
    background-position: 0 0, 100px 100px; }
  to {
    background-position: 200px 0, 300px 100px; } }

@-webkit-keyframes toad {
  0% {
    -webkit-transform: translateX(5%);
    transform: translateX(5%); }
  50% {
    -webkit-transform: translateX(-5%);
    transform: translateX(-5%); }
  100% {
    -webkit-transform: translateX(5%);
    transform: translateX(5%); } }

@keyframes toad {
  0% {
    -webkit-transform: translateX(5%);
    transform: translateX(5%); }
  50% {
    -webkit-transform: translateX(-5%);
    transform: translateX(-5%); }
  100% {
    -webkit-transform: translateX(5%);
    transform: translateX(5%); } }

@-webkit-keyframes satellite {
  0% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%); }
  50% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%); }
  100% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%); } }

@keyframes satellite {
  0% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%); }
  50% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%); }
  100% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%); } }

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style-type: none;
  border: none; }

input {
  display: none; }
  input#single:checked ~ .slider-sidebar .slider-btn._single {
    background: -webkit-gradient(linear, left top, right top, from(rgba(249, 205, 53, 0.9)), to(rgba(251, 239, 173, 0.9)));
    background: linear-gradient(to right, rgba(249, 205, 53, 0.9) 0%, rgba(251, 239, 173, 0.9) 100%);
    cursor: default;
    width: 400px; }
    input#single:checked ~ .slider-sidebar .slider-btn._single:before {
      border-right-color: rgba(249, 205, 53, 0.9); }
    input#single:checked ~ .slider-sidebar .slider-btn._single:after {
      border-left-color: rgba(251, 239, 173, 0.9); }
  input#single:checked ~ .slider-main .slide._single {
    opacity: 1; }
    input#single:checked ~ .slider-main .slide._single .slide-unit {
      -webkit-transform: translate(0);
      transform: translate(0); }
  input#multi:checked ~ .slider-sidebar .slider-btn._multi {
    background: -webkit-gradient(linear, left top, right top, from(rgba(249, 205, 53, 0.9)), to(rgba(251, 239, 173, 0.9)));
    background: linear-gradient(to right, rgba(249, 205, 53, 0.9) 0%, rgba(251, 239, 173, 0.9) 100%);
    cursor: default;
    width: 400px; }
    input#multi:checked ~ .slider-sidebar .slider-btn._multi:before {
      border-right-color: rgba(249, 205, 53, 0.9); }
    input#multi:checked ~ .slider-sidebar .slider-btn._multi:after {
      border-left-color: rgba(251, 239, 173, 0.9); }
  input#multi:checked ~ .slider-main .slide._multi {
    opacity: 1; }
    input#multi:checked ~ .slider-main .slide._multi .multi-unit {
      -webkit-transform: translate(0);
      transform: translate(0); }
  input#online:checked ~ .slider-sidebar .slider-btn._online {
    background: -webkit-gradient(linear, left top, right top, from(rgba(249, 205, 53, 0.9)), to(rgba(251, 239, 173, 0.9)));
    background: linear-gradient(to right, rgba(249, 205, 53, 0.9) 0%, rgba(251, 239, 173, 0.9) 100%);
    cursor: default;
    width: 400px; }
    input#online:checked ~ .slider-sidebar .slider-btn._online:before {
      border-right-color: rgba(249, 205, 53, 0.9); }
    input#online:checked ~ .slider-sidebar .slider-btn._online:after {
      border-left-color: rgba(251, 239, 173, 0.9); }
  input#online:checked ~ .slider-main .slide._online {
    opacity: 1; }
    input#online:checked ~ .slider-main .slide._online .online-unit._toad {
      right: 20px; }
    input#online:checked ~ .slider-main .slide._online .online-unit._satellite {
      top: 60px; }

.slider {
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative; }

.slider-sidebar {
  width: 30%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1; }
  .slider-sidebar .slider-bg {
    background-color: white;
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 74%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 74%, black 75%, black);
    background-size: 200px 200px;
    background-position: 0 0, 100px 100px;
    -webkit-transform: perspective(280px) rotate3d(0, -1, 2, -25deg) scale(1.7) translate(-15%, 15%);
    transform: perspective(280px) rotate3d(0, -1, 2, -25deg) scale(1.7) translate(-15%, 15%);
    opacity: .8;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-animation: aside 8s linear infinite;
    animation: aside 8s linear infinite; }
    .slider-sidebar .slider-bg:after {
      content: '';
      background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(40%, rgba(255, 255, 255, 0.9)), to(white));
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 40%, white 100%);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }

.slider-menu {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 100px; }
  .slider-menu .slider-menu-item {
    margin-bottom: 40px; }
    .slider-menu .slider-menu-item label {
      font: 28px "Exo 2", sans-serif;
      background: #a3a3a3;
      background: -webkit-gradient(linear, left top, right top, from(rgba(163, 163, 163, 0.9)), to(rgba(237, 237, 237, 0.9)));
      background: linear-gradient(to right, rgba(163, 163, 163, 0.9) 0%, rgba(237, 237, 237, 0.9) 100%);
      padding: 20px 35px 20px 90px;
      display: block;
      position: relative;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      width: 300px;
      -webkit-transition: all .2s;
      transition: all .2s; }
      .slider-menu .slider-menu-item label:before, .slider-menu .slider-menu-item label:after {
        content: '';
        width: 0;
        height: 0;
        border-top: 37px solid transparent;
        border-bottom: 37px solid transparent;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto; }
      .slider-menu .slider-menu-item label:before {
        border-right: 20px solid rgba(163, 163, 163, 0.9);
        right: 100%; }
      .slider-menu .slider-menu-item label:after {
        border-left: 20px solid rgba(237, 237, 237, 0.9);
        left: 100%;
        -webkit-transform: translateX(-0.5px);
        transform: translateX(-0.5px); }
      .slider-menu .slider-menu-item label:hover {
        background: -webkit-gradient(linear, left top, right top, from(rgba(249, 205, 53, 0.9)), to(rgba(251, 239, 173, 0.9)));
        background: linear-gradient(to right, rgba(249, 205, 53, 0.9) 0%, rgba(251, 239, 173, 0.9) 100%);
        width: 350px; }
        .slider-menu .slider-menu-item label:hover:before {
          border-right-color: rgba(249, 205, 53, 0.9); }
        .slider-menu .slider-menu-item label:hover:after {
          border-left-color: rgba(251, 239, 173, 0.9); }

.slider-main {
  height: 100%; }
  .slider-main .slide {
    background-size: cover;
    background-position: center right;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .slider-main .slide._single {
      background-image: url(public/images/single-bg.jpg); }
      .slider-main .slide._single .slide-unit {
        background-size: cover;
        position: absolute;
        -webkit-transform: translate(25%, -20%);
        transform: translate(25%, -20%); }
        .slider-main .slide._single .slide-unit._mario {
          background-image: url(../images/single-mario.png);
          width: 616px;
          height: 546px;
          right: 0;
          bottom: 0;
          z-index: 1;
          -webkit-transition: all .3s;
          transition: all .3s; }
        .slider-main .slide._single .slide-unit._peach {
          background-image: url(../images/single-peach.png);
          width: 277px;
          height: 419px;
          bottom: 280px;
          right: 110px;
          -webkit-transition: all .25s;
          transition: all .25s; }
        .slider-main .slide._single .slide-unit._bowser {
          background-image: url(../images/single-bowser.png);
          width: 347px;
          height: 362px;
          right: 360px;
          bottom: 160px;
          -webkit-transition: all .3s;
          transition: all .3s; }
    .slider-main .slide._multi {
      background-image: url(../images/multi-bg.jpg); }
      .slider-main .slide._multi .multi-unit {
        background-size: cover;
        position: absolute; }
        .slider-main .slide._multi .multi-unit._mario {
          background-image: url(../images/multi-mario.png);
          width: 759px;
          height: 565px;
          left: 320px;
          bottom: 30px;
          -webkit-transform: translate(-50%, 6%);
          transform: translate(-50%, 6%);
          -webkit-transition: all .5s;
          transition: all .5s; }
        .slider-main .slide._multi .multi-unit._inkling {
          background-image: url(../images/multi-inkling.png);
          width: 711px;
          height: 603px;
          bottom: 0;
          right: -190px;
          -webkit-transform: translate(50%, -3%);
          transform: translate(50%, -3%);
          -webkit-transition: all .5s;
          transition: all .5s; }
    .slider-main .slide._online {
      background-image: url(../images/online-bg.jpg); }
      .slider-main .slide._online .online-unit {
        background-size: cover;
        position: absolute; }
        .slider-main .slide._online .online-unit._toad {
          background-image: url(../images/online-toad.png);
          width: 398px;
          height: 500px;
          right: -150px;
          bottom: 120px;
          -webkit-animation: toad 10s linear infinite;
          animation: toad 10s linear infinite;
          -webkit-transition: all .5s;
          transition: all .5s; }
        .slider-main .slide._online .online-unit._satellite {
          background-image: url(../images/online-satellite.png);
          width: 246px;
          height: 195px;
          -webkit-animation: satellite 15s linear infinite;
          animation: satellite 15s linear infinite;
          left: 460px;
          top: -300px;
          -webkit-transition: all .5s;
          transition: all .5s; }
